* {
    box-sizing: border-box;
}

body{
    background: #444;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-container{
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.game-container canvas{
    position: absolute;
    border: 1px white;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;

    transform: scale(3) translateX(75%) translateY(40%);

}